/* line 1, ../../sass/brand.scss */
*.brand-wgph {
  color: #b713cf;
}

/* line 7, ../../sass/brand.scss */
*.brand-fito {
  color: #cf1313;
}

/* line 13, ../../sass/brand.scss */
.brand-fiap {
  color: #cf1313;
}
