/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/base.scss */
body {
  background-image: url(/assets/images/background.jpg);
}

/* line 7, ../../sass/base.scss */
main {
  width: 900px;
  max-width: 900px;
  margin-top: 61px;
}
/* line 15, ../../sass/base.scss */
main figure#selfie {
  float: left;
  width: 262px;
  height: 282px;
  margin-left: 91px;
  background-color: #FFF;
}
/* line 26, ../../sass/base.scss */
main figure#selfie img {
  margin: 9px;
  margin-bottom: none;
}
/* line 33, ../../sass/base.scss */
main header {
  font-family: 'Arial Rounded MT Bold';
  float: left;
  margin-left: 22px;
  margin-top: 7px;
}
/* line 41, ../../sass/base.scss */
main header h1, main header h2, main header h3 {
  color: #FFF;
}
/* line 45, ../../sass/base.scss */
main header h1 {
  font-size: 60px;
  text-shadow: 0px 2px 0px #000;
}
/* line 51, ../../sass/base.scss */
main header h2 {
  margin-top: 1px;
  margin-left: 3px;
  font-size: 29px;
  text-shadow: 0px 1px 0px #000;
}
/* line 62, ../../sass/base.scss */
main header h3 {
  margin-top: 7px;
  margin-left: 4px;
  font-size: 15px;
  text-shadow: 0px 1px 0px #000;
}
/* line 71, ../../sass/base.scss */
main header nav {
  margin-top: 35px;
}
/* line 77, ../../sass/base.scss */
main header nav ul li {
  float: left;
  border: 4px solid #E8E8E8;
  border-radius: 50px;
  width: 98px;
  height: 98px;
  max-height: 100px;
  max-width: 100px;
  background-color: #FFF;
  text-align: center;
  display: inline;
  margin-left: 90px;
}
/* line 94, ../../sass/base.scss */
main header nav ul li a {
  color: #000;
  text-decoration: none;
}
/* line 99, ../../sass/base.scss */
main header nav ul li a img {
  margin-top: 10px;
}
/* line 103, ../../sass/base.scss */
main header nav ul li a p {
  clear: both;
  padding-top: 10px;
  font-size: 18px;
  font-family: 'Arial Black';
  text-align: center;
}
/* line 117, ../../sass/base.scss */
main header nav ul li:first-of-type {
  margin-left: 20px;
}
/* line 128, ../../sass/base.scss */
main section#bio {
  float: left;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 16px;
  width: 420px;
  margin-top: 82px;
  margin-left: 25px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 50px;
  background-color: #FFF;
}
/* line 149, ../../sass/base.scss */
main section#bio a, main section#bio a:active, main section#bio a:visited, main section#bio a:hover {
  text-decoration: none;
}
/* line 153, ../../sass/base.scss */
main section#bio a.bio-link, main section#bio a:active.bio-link, main section#bio a:visited.bio-link, main section#bio a:hover.bio-link {
  font-weight: bolder;
  font-size: 12px;
}
/* line 164, ../../sass/base.scss */
main footer {
  float: left;
  clear: both;
  width: 900px;
  margin-top: 110px;
  color: #DDD;
  font-family: arial;
  font-size: 14px;
  text-shadow: 0px 1px 0px #000;
  text-align: center;
}
/* line 179, ../../sass/base.scss */
main footer a, main footer a:active, main footer a:visited, main footer a:hover {
  text-decoration: none;
  color: #BBB;
}

/* line 1, ../../sass/brand.scss */
*.brand-wgph {
  color: #b713cf;
}

/* line 7, ../../sass/brand.scss */
*.brand-fito {
  color: #cf1313;
}

/* line 13, ../../sass/brand.scss */
.brand-fiap {
  color: #cf1313;
}
